<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kullanıcı Listesi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
    <div class="container">
        <h1>Kullanıcılar</h1>
        <a href="/users/new" class="btn btn-success">Yeni Kullanıcı Ekle</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ad</th>
                    <th>E-posta</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.name}"></td>
                    <td th:text="${user.email}"></td>
                    <td th:text="${user.createdAt}"></td>
                    <td>
                        <a th:href="@{'/users/edit/' + ${user.id}}" class="btn btn-primary">Düzenle</a>
                        <a th:href="@{'/users/delete/' + ${user.id}}" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
